<link rel="stylesheet" href="~/css/style.css">

<header class="d-flex justify-content-around head">
        <h2 ><a href="/Dashboard" class="head"> OnMyMind</a></h2>
        <div class="head">
            <a class="m-2 head" href="/profile/@ViewBag.LoggedUser.UserId">My Profile</a>
            <a href="/" class="head">Logout</a>
        </div>
</header>