<link rel="stylesheet" href="~/css/header.css">

<header class="head"> 
        <h2><a class="main" href="/Dashboard"> OnMyMind</a></h2>
        <div>
            <a  class="link" href="/profile/@ViewBag.LoggedUser.UserId">My Profile</a>
            <a  href="/" class="link">Logout</a>
        </div>
</header>