<link rel="stylesheet" href="~/css/style.css">

<header class="d-flex justify-content-around head">
        <h2 ><a href="/Dashboard" class="head"> OnMyMind</a></h2>
        <div class="head">
            <a style="font-size: 15pt; text-decoration:unset" class="m-2 head hover" href="/profile/@ViewBag.LoggedUser.UserId">My Profile</a>
            <a style="font-size: 15pt; text-decoration:unset" href="/" class="head hover">Logout</a>
        </div>
</header>