<header class="d-flex justify-content-around">
        <h2><a href="/Dashboard"> OnMyMind</a></h2>
        <div>
            <a class="m-2" href="/profile">Profile</a>
            <a href="/">Logout</a>
        </div>
</header>