@{
    ViewData["Title"] = "Edit Your Profile";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/index.css">

</head>
<partial name="_Header"></partial>

@model User

<body class="back">
    <div class="editBox">
        <h1 class="editText">Edit Your Profile</h1>
        <form action="/SaveEdit" method="post">
            <div class="form-group ">
                <label for="Bio">Bio:</label>
                <input asp-for="Bio">
            </div>
            <div class="form-group ">
                <label for="Location">Location:</label>
                <input asp-for="Location">
            </div>
            <div class="form-group">
                <label for="ProfilePic">Profile Picture:</label>
                <input style="color: white;" type="file" name="ProfilePic" id="ProfilePic">
            </div>
            <input style="display: block;" class="btn" type="submit" value="Edit Profile" >
        </form>
    </div>
</body>

</html>