@{
    ViewData["Title"] = "Follower List";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/follow.css">
</head>
<partial name="_Header.cshtml"></partial>

<body class="back">
    <div class="container" style="margin-top: 8vh;">
        <h1 style="text-align: center;">@ViewBag.User.FirstName is Followed By</h1>
        @foreach (Connection c in ViewBag.User.Followers)
        {
            <div class="post " style="width: 25%;">
                <div class="d-flex align-items-center">
                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="Profile Picure">
                    <a class="unset" href="/Profile/@c.FollowerId">@c.Follower.FirstName @c.Follower.LastName </a>
                </div>
            </div>
        }
    </div>
</body>
</html>