<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is @ViewBag.User.FirstName's Followers list</h1>
    @foreach (Connection c in ViewBag.User.Followers)
    {
        <p><a href="/Profile/@c.Follower.UserId">@c.Follower.FirstName @c.Follower.LastName</a> </p>
    }
</body>
</html>