@{
    bool noUsers=true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Results</h1>
    @foreach (User u in ViewBag.SearchResults)
    {
        <a href="Profile/@u.UserId">@u.FirstName</a>
        noUsers=false;
    }
    @if(noUsers==true)
    {
        <p>Sorry, No results for @ViewBag.Search</p>
    }
</body>
</html>