@{
    bool noUsers = true;
    ViewData["Title"] = "Search Results";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/follow.css">
</head>
<partial name="_Header"></partial>

<body class="back">
    <div style="margin-top: 7vh;" class="postContainer">
        <h1 class="resultsText">Search Results</h1>
        @foreach (var user in ViewBag.NewResults)
        {
            var uid=user["UserId"];
            <div class="post">
                <div class="d-flex align-items-center ">
                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                    <a class="unset" href="Profile/@uid">@user["FirstName"] @user["LastName"]</a>
                </div>
            </div>
            noUsers = false;
        }
        @if (noUsers == true)
        {
            <h3 style="text-align: center;">Sorry, No results for @ViewBag.Search</h3>
        }
    </div>
</body>

</html>