@{
    bool noUsers = true;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<partial name="_Header"></partial>

<body>
    <div class="container text-center">
        <h1>Search Results</h1>
        @foreach (var u in ViewBag.NewResults)
        {
            var U=u["UserId"];
            <div class="post white white2 container text-center" style="width: 25%;">
                <div class="d-flex align-items-center justify-content-center white">
                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                    <a class="follow-text" href="Profile/@U">@u["FirstName"] @u["LastName"]</a>
                </div>
            </div>
            noUsers = false;
        }
        @if (noUsers == true)
        {
            <p>Sorry, No results for @ViewBag.Search</p>
        }
    </div>
</body>

</html>